# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

#CocoaPods
Pods/
doc/

appledoc.sh
build.sh
README.md
CCBluetoothAPI/CCBluetoothDataTypes.m
CCBluetoothAPI/CCBluetoothDevice+Data.m
CCBluetoothAPI/CCBluetoothDevice+FirmwareInfo.m
CCBluetoothAPI/CCBluetoothDevice+Reminder.m
CCBluetoothAPI/CCBluetoothDevice+Settings.m
CCBluetoothAPI/CCBluetoothDevice+UserInfo.m
CCBluetoothAPI/CCBluetoothDevice.m
CCBluetoothAPI/CCBluetoothManager.m
CCBluetoothAPI/CCBluetoothMaster.m
CCBluetoothAPI/CCBluetoothTool.m
CCBluetoothAPI/CCTask.m
CCBluetoothAPI/CCBluetoothAPI.h
CCBluetoothAPI/CCBluetoothDataTypes.h
CCBluetoothAPI/CCBluetoothDevice+Data.h
CCBluetoothAPI/CCBluetoothDevice+FirmwareInfo.h
CCBluetoothAPI/CCBluetoothDevice+Reminder.h
CCBluetoothAPI/CCBluetoothDevice+Settings.h
CCBluetoothAPI/CCBluetoothDevice+UserInfo.h
CCBluetoothAPI/CCBluetoothDevice.h
CCBluetoothAPI/CCBluetoothDeviceProtocol.h
CCBluetoothAPI/CCBluetoothManager.h
CCBluetoothAPI/CCBluetoothMaster.h
CCBluetoothAPI/CCBluetoothTool.h
CCBluetoothAPI/CCTask.h
CCBluetoothAPI/Info.plist
